/* font import */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.text-desc {
    color: #424242;
}

/* Header styles */
/* Navbar design */
header {
    background-color: rgba(255, 144, 14, 0.10);
    background-size: cover;
    padding: 50px 240px;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
}

nav {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap:10px;
}

nav li {
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner design */
.banner-content {
    /* max-width:800px; */
    text-align: center;
}

.banner-tl {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-btn {
    margin: 10px auto;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}

.banner img {
    margin: 10px auto;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team design */
.team {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;

}

.team-content h3 {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-content p {
    color: #424242;
    font-weight: 500;
    /* margin: 10px 0; */
}

.team-btn {
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}

/* Features design */

.feature {
    display: flex;
    justify-content: space-around;
    margin: 70px 240px;
    gap:50px;
}

.feature>img {
    width: 650px;
    height: 950px;
}

.head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stick {
    width: 5px;
    height: 120px;
    background-color: #FF900E;
}

.head h3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.feature-content p {
    color: #727272;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
}

.feature-topic {
    width: 500px;
height: auto;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding:30px;
    margin-bottom: 10px; 

}
.feature-title{
    padding-bottom:10px;
}
.experience{
    background-color: #FF900E;
    max-width: 280px;
/* height: 120px; */
padding:20px;
border-radius: 8px;
text-align: center;
color: #FFF;
font-size: 25px;
font-weight: 500;
line-height: 40px;
position:relative;
top: -150px;
left:660px;
}
/* Facts Design */
.facts {
    margin: 50px 240px;
}

.facts-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.facts-sec {
    text-align: center;
    margin-top: 10px;
}

.facts>h3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts>p {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 540px;
}

.facts-sec {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
}

.facts-sec h3 {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.facts-sec p {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Sponsor design */
.sponsors h3{
    color: #131313;
font-size: 45px;
font-weight: 700;
}
.sponsors p{
    color: #727272;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.sponsors{
    text-align: center;
    padding-top: 70px;
}
.sponsor-img{
    margin:50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer{
    margin:100px 240px;
    background-color: #FFF4E7;
    text-align: center;
    padding:40px;
}




/* Responsive design */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav>ul {
        flex-direction: column;
        /* margin:10px auto; */
    }

    nav,
    .team,
    .facts-content,
    .feature,
    .sponsor-img{
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: 1fr;
    }

    .team-img img {
        width: 330px;
    }

    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .team-content p {
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0;
        width: 300px;
    }

    .team-content h3 {
        width: 300px;
    }

    .facts {
        margin: 50px auto;
        width: calc(100% - 30px);
        gap: 20px;
    }

    .facts p {
        width: auto;
    }
    .feature{
        margin: 70px 10px;
    }
    .feature img{
        width:auto;
        height: auto;
    }
    .experience{
        top: -120px;
        left:20%;
    }
    .feature-topic{
        width:auto;
    }

    .sponsor-img img{
        padding-top: 30px;
    }
    footer{
        margin: 50px 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 20px;
    }

    nav,
    .team,
    .facts-content,
    .feature,
    .sponsor-img {
        flex-direction: column;
    }

    .banner-tl {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .team-img {
        grid-template-columns: 1fr;

    }

    .facts p {
        width: auto;
    }
    .facts {
        margin: 50px auto;
        width: calc(100% - 30px);
        gap: 20px;
    }

    .facts p {
        width: auto;
    }
    .feature{
        margin: 70px 10px;
    }
    .feature img{
        width:auto;
        height: auto;
    }
    .experience{
        top: -120px;
        left:20%;
    }
    .feature-topic{
        width:auto;
    }
    
    .sponsor-img img{
        padding-top: 30px;
    }
    footer{
        margin: 50px 25px;
    }
}