/* font import */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.text-desc {
    color: #424242;
}

/* Header styles */
/* Navbar design */
header {
    background-color: rgba(255, 144, 14, 0.10);
    background-size: cover;
    padding: 50px 240px;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner design */
.banner-content {
    /* max-width:800px; */
    text-align: center;
}

.banner-tl {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-btn {
    margin: 10px auto;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}

.banner img {
    margin: 10px auto;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.feature{
    display: flex;
    align-items: center;
}
.feature-img{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:1.5rem;
}
/* .feature-img img{
    height: 330px;
    width: 330px;
    border-radius: 10px;
} */
.feature-content{
    padding-left:70px;
    padding-right:70px;
    
}
.feature-content h3{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-content p{
    color: #424242;
    font-weight: 500;
    /* margin: 10px 0; */
}
.feature-btn{
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}













/* Responsive design */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav > ul{
        flex-direction: column;
        /* margin:10px auto; */
    }
    nav, .feature {
        flex-direction: column;
    }
    
    .feature-img{
        grid-template-columns: 1fr;

     }
    .feature-content{
        padding-left:20px;
        padding-right:20px;
    }
    .feature-content p{
        color: #424242;
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0;
        width:300px;
    }
    /* .banner-tl {
        font-size: 3rem;
        font-weight: 700;
    }
    .feature-img{
       grid-template-columns: 1fr;
       margin: 0 auto;
    }
    
    .feature-content{
        width: 400px;
        margin:0 auto;
        padding:15px;

    }
    
    .feature-content h3{
        color: #727272;
        font-size: 1.7rem;
    } */

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 20px;
    }

    nav , .feature {
        flex-direction: column;
    }
    .banner-tl {
        font-size: 3.5rem;
        font-weight: 700;
    }
    .feature-img{
        grid-template-columns: 1fr;

     }
}